<div class="about-section">
  <h1>About Us</h1>
  <p>Data is reality. If you face it, you can understand it. Then, you can do something about it</p>
  <p>
    Many companies search for a purpose. Adopt a friend was born with one: to change the world for the better. <br>
     It's felt by our people, who we invest in through every stage of their careers.<br> And it's proven by our actions, which harness the resources,
     skills and profits of our company to transform lives around the world in order to create a more beautiful living environment for animals as well
  </p>
</div>

<div class="our-team-section">
  <h2 style="text-align: center">Our Team</h2>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <img
        src="https://res.cloudinary.com/dkrcw3jpz/image/upload/v1649321305/download_pm2ndp.jpg"
        alt="Jane"
      />
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>I'm the founder of Adopt a friend and my job is to make sure the agency grows in a sustainable, exciting way.<br> 
          I do lots of client work too and my approach is very hands on in terms of running the agency and delivering our service. 
          </p>
        <p>jane@AdoptFriend.com</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img
        src="https://res.cloudinary.com/dkrcw3jpz/image/upload/v1645377600/ujqo8quvxhnaiojmsk0x.jpg"
        alt="Mike"
      />
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Managing Director</p>
        <p>As Adopt a firend's MD, I am in charge of the day-to-day operational running of the business, 
          which includes our business strategy, 
          operations and client services.</p>
        <p>mike@AdoptFriend.com</p>
      </div>
    </div>
  </div>
</div>
